<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoboSmile</title> 
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <div class="logo-container">
        <img src="static/images/mexa_trans.png" alt="MEXA Logo", class="logo">
    </div>
    <div class="container">
        <img src="static/images/robosmile.jpeg" alt="Robosmile_logo", class="logo">
        <h1>We're here to help you get help.</h1>
        <div class="chat-box", id="chat-box">
            {% for message in conversation %}
                <div class="message {{ message.sender }}">
                    <p>{{ message.text }}</p>
                </div>
            {% endfor %}
        </div>
        <form method="POST">
            <textarea name="user_input" rows="10" cols="50" placeholder="Tell me what's wrong"></textarea>
            <br>
            
            <input type="submit" value="Submit">
            <form action="/summarise" method="POST">
                <button type="submit"  onclick="summariseChat()"">Summarize Chat</button>
            </form>
            <button type="button" onclick="resetChat()">Reset</button>
            
            
        </form>
    </div>
    <script>
        function scrollToBottom() {
            const chatBox = document.getElementById('chat-box');
            chatBox.scrollTop = chatBox.scrollHeight;
        }
            // Call the scrollToBottom function whenever new messages are added
        scrollToBottom();
        
        function summariseChat() {
            // Send a request to the server to clear the conversation history
            // and reload the page
            fetch('/summarise', {
                method: 'POST'
            });
        }

        function resetChat() {
            // Send a request to the server to clear the conversation history
            // and reload the page
            fetch('/reset', {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/";
                } else {
                    // Handle error
                    console.error('Error resetting chat:', response.statusText);
                }
            });
        }
        
    </script>
</body>
</html>