body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url(background.png);
    background-color: #f0f0f0;
}

.chat-box {
    max-height: 400px;
    overflow-y: scroll;
}

.message {
    margin-bottom: 10px;
}

.message.user {
    text-align: right;
    background-color: #e0f2f1;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
}

.message.summary {
    text-align: left;
    background-color: #ebf2e0;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
}

.message.ai {
    text-align: left;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo {
    max-width: 150px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.user-message {
    text-align: right;
    color: green;
    margin-right: 20px;
  }
  
.bot-message {
    text-align: left;
    color: blue;
    margin-left: 20px;
  }
  

h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

textarea {
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the textarea horizontally */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 20px;
}